.PostRead {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Contents {
  width: 70%;
  float: left;
  box-sizing: border-box;
  padding: 100px;

  .header_1 {
    margin-top: 80px;
  }
  .header_2 {
    margin-top: 50px;
  }
  .header_3 {
    margin-top: 30px;
  }
  .tip {
    background-color: #ffffaf;
    padding: 20px;
  }
  .code {
    background-color: #ffeec8;
    padding: 10px;
    font-size: 1em;
  }
  .dual {
    display: flex;
    flex-direction: row;
    width: 100%;
    .left {
      width: 50%;
      float: left;
    }
    .right {
      width: 50%;
      float: right;
    }
  }
}

.IndexChart {
  width: 30%;
  height: inherit;
  float: right;
  box-sizing: border-box;

  > div {
    position: sticky;
    top: 0px;
    padding: 30px;
    background: #f7f7f7;
    ul {
      padding-inline-start: 0;
      list-style-type: none;
      ul {
        padding-inline-start: 10px;
      }
    }
  }

  .title {
    .bookmark {
      width: 4px;
      height: 25px;
      border-left: 4px solid rgb(97, 218, 251);
      padding-left: 16px;
      position: absolute;
      left: 0px;
      margin-top: -3px;
    }
    .active {
      font-weight: bold;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}
