.PostWrite {
  width: 100%;
  padding: 0 5%;
  min-width: 200px;
  .topButtons{
    position: relative;
    margin-bottom: 30px;
  }
  .rightButton {
    position: absolute;
    right: 0;
  }
}

.PostModify {
  width: 100%;
  .blockObject {
    height: 20px;
  }
  #PostModify-title {
    margin-bottom: 10px;
  }
  #title {
    font-size: 30px;
    width: 100%;
  }
  #contents {
    width: 100%;
    min-height: 500px;
  }
}

.PostPreview {
  
}
